In [1]:
import pandas as pd
import json

In [142]:
df_chennai=pd.read_excel("D:\\MLChecked\\VS Code\\Project_ML\\ML Data\\chennai_cars.xlsx")
df_chennai.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [205]:
df_chennai["new_car_overview"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1419 entries, 0 to 1418
Series name: new_car_overview
Non-Null Count  Dtype
--------------  -----
1419 non-null   object
dtypes: object(1)
memory usage: 11.2+ KB

In [87]:
import json

df_chennai["new_car_detail"] = df_chennai["new_car_detail"].apply(lambda i: json.loads(i.replace("'", '"').replace("None", "1")))
df_chennai["new_car_detail"]

0       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
                              ...
1414    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1415    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1416    {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1417    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1418    {'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...
Name: new_car_detail, Length: 1419, dtype: object

In [88]:
New_chennaidf_col1 = pd.DataFrame(df_chennai["new_car_detail"].to_list())
New_chennaidf_col1.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [ ]:
x=pd.json_normalize(df_chennai["new_car_detail"])
x

In [89]:
New_chennaidf_col1["km"]=New_chennaidf_col1["km"].str.replace(",","")
New_chennaidf_col1.rename(columns={'price': 'price(Lakh)'}, inplace=True)
New_chennaidf_col1["price(Lakh)"]=New_chennaidf_col1["price(Lakh)"].str.replace("Lakh","")
New_chennaidf_col1["price(Lakh)"] = New_chennaidf_col1["price(Lakh)"].str.replace("₹","")
New_chennaidf_col1.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price(Lakh),priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,SUV,20000,Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,11.50,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,Minivans,20687,Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,4.15,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,SUV,30000,Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,7.50,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Hatchback,59247,Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,3.98,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Petrol,Hatchback,50000,Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,5.50,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [145]:
df_chennai["new_car_overview"][0]

"{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'}, {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'}, {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'}, {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'}, {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'}, {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'}, {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'}, {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'}, {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'}, {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}], 'bottomData': None}"

In [ ]:
data_raw = df_chennai["new_car_overview"][0],["top"]
json_str=json.loads(data_raw[0])
json_str = re.sub(r"(?<!\\)'", '"', json_str)  # Replace single quotes with double quotes
json_str = re.sub(r'(?<!\\)""', '"', json_str)
data_dict = json.loads(json_str)
print(data_dict)
# data = json.loads(data_raw)

# data

In [128]:
import json
import re

# Example string (replace this with your actual data)
data_raw = ("{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},"
            " {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},"
            " {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},"
            " {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},"
            " {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},"
            " {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},"
            " {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},"
            " {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},"
            " {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},"
            " {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}],"
            " 'bottomData': None}", ['top'])

# Convert the tuple to a JSON string
json_str = data_raw[0]

# Replace single quotes with double quotes and handle None
json_str = re.sub(r"(?<!\\)'", '"', json_str)  # Replace single quotes with double quotes
json_str = json_str.replace('None', 'null')  # Replace Python's None with JSON's null

# Load the JSON string
try:
    json_data = json.loads(json_str)
    print(json_data.get('top'))  # This should print the JSON data if parsing is successful
except json.JSONDecodeError as e:
    print(f"JSON decoding error: {e}")
    
    
final_df = pd.DataFrame(json_data.get('top'))
final_df

#   df_pivoted = df.pivot_table(index=None, columns='key', values='value', aggfunc='first')    
    
#     all_car_data.append(df_pivoted)

# final_df = pd.concat(all_car_data, ignore_index=True)

# # Display the final DataFrame
# df_chn_col2=pd.DataFrame(final_df)
# df_chn_col2

[{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'}, {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'}, {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'}, {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'}, {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'}, {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'}, {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'}, {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'}, {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'}, {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}]

,key,value,icon
0,Registration Year,2022,https://images10.gaadi.com/listing/vdp/co/v1/r...
1,Insurance Validity,Third Party insurance,https://images10.gaadi.com/listing/vdp/co/v1/i...
2,Fuel Type,Petrol,https://images10.gaadi.com/listing/vdp/co/v1/f...
3,Seats,5 Seats,https://images10.gaadi.com/listing/vdp/co/v1/s...
4,Kms Driven,"20,000 Kms",https://images10.gaadi.com/listing/vdp/co/v1/k...
5,RTO,TN02,https://images10.gaadi.com/listing/vdp/co/v1/r...
6,Ownership,First Owner,https://images10.gaadi.com/listing/vdp/co/v1/o...
7,Engine Displacement,998 cc,https://images10.gaadi.com/listing/vdp/co/v1/e...
8,Transmission,Automatic,https://images10.gaadi.com/listing/vdp/co/v1/t...
9,Year of Manufacture,2022,https://images10.gaadi.com/listing/vdp/co/v1/y...

In [ ]:
df_chennai["new_car_overview"] = df_chennai["new_car_overview"].apply(lambda i: json.loads(i.replace("'", '"')))
df_chennai["new_car_overview"]

In [ ]:
New_chennaidf_col2 = pd.DataFrame(df_chennai["new_car_overview"],'top'.to_list())
New_chennaidf_col2

In [ ]:
New_chennaidf_col2_2 = pd.DataFrame(df_chennai["new_car_overview"].apply(lambda x: x['top']).to_list())
New_chennaidf_col2_2

In [ ]:
import pandas as pd

# # Your dictionary
# data = [{'key': 'Registration Year',
#   'value': '2022',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},
#  {'key': 'Insurance Validity',
#   'value': 'Third Party insurance',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},
#  {'key': 'Fuel Type',
#   'value': 'Petrol',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},
#  {'key': 'Seats',
#   'value': '5 Seats',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},
#  {'key': 'Kms Driven',
#   'value': '20,000 Kms',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},
#  {'key': 'RTO',
#   'value': 'TN02',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},
#  {'key': 'Ownership',
#   'value': 'First Owner',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},
#  {'key': 'Engine Displacement',
#   'value': '998 cc',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},
#  {'key': 'Transmission',
#   'value': 'Automatic',
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},
#  {'key': 'Year of Manufacture',
#   'value': 2022,
#   'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}]

data = ("{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},"
            " {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},"
            " {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},"
            " {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},"
            " {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},"
            " {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},"
            " {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},"
            " {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},"
            " {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},"
            " {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}],"
            " 'bottomData': None}", ['top'])


# Convert the list of dictionaries into a DataFrame
df = pd.DataFrame(data)

# Pivot the DataFrame to make 'key' values column headers and 'value' as their corresponding row values
df_pivoted = df.pivot_table(index=None, columns='key', values='value', aggfunc='first')


df= pd.DataFrame(df_pivoted)
df

In [131]:
import pandas as pd
import ast

# Convert the string representation to an actual dictionary
data_str = ("{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},"
            " {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},"
            " {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},"
            " {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},"
            " {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},"
            " {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},"
            " {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},"
            " {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},"
            " {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},"
            " {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}],"
            " 'bottomData': None}")

# Convert the string to a dictionary
data_dict = ast.literal_eval(data_str)

# Extract the 'top' data which is a list of dictionaries
top_data = data_dict['top']

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(top_data)

# Pivot the DataFrame to make 'key' values column headers and 'value' as their corresponding row values
df_pivoted = df.pivot_table(index=[], columns='key', values='value', aggfunc='first')

# Convert pivoted DataFrame to a regular DataFrame format if necessary
df_pivoted = df_pivoted.reset_index(drop=True)

df_pivoted

key,Engine Displacement,Fuel Type,Insurance Validity,Kms Driven,Ownership,RTO,Registration Year,Seats,Transmission,Year of Manufacture
0,998 cc,Petrol,Third Party insurance,"20,000 Kms",First Owner,TN02,2022,5 Seats,Automatic,2022

In [136]:
import pandas as pd
import ast

# Example list of data strings (simulating multiple rows)
data_list = [
    ("{'heading': 'Car overview 1', 'top': [{'key': 'Registration Year', 'value': '2022', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},"
     " {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},"
     " {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},"
     " {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},"
     " {'key': 'Kms Driven', 'value': '20,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},"
     " {'key': 'RTO', 'value': 'TN02', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},"
     " {'key': 'Ownership', 'value': 'First Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},"
     " {'key': 'Engine Displacement', 'value': '998 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},"
     " {'key': 'Transmission', 'value': 'Automatic', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},"
     " {'key': 'Year of Manufacture', 'value': 2022, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}],"
     " 'bottomData': None}"),
    ("{'heading': 'Car overview 2', 'top': [{'key': 'Registration Year', 'value': '2021', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},"
     " {'key': 'Insurance Validity', 'value': 'Comprehensive insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},"
     " {'key': 'Fuel Type', 'value': 'Diesel', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},"
     " {'key': 'Seats', 'value': '7 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},"
     " {'key': 'Kms Driven', 'value': '30,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},"
     " {'key': 'RTO', 'value': 'MH01', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},"
     " {'key': 'Ownership', 'value': 'Second Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},"
     " {'key': 'Engine Displacement', 'value': '1500 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},"
     " {'key': 'Transmission', 'value': 'Manual', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},"
     " {'key': 'Year of Manufacture', 'value': 2021, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}],"
     " 'bottomData': None}")
]

# Initialize an empty DataFrame to store all the results
combined_df = pd.DataFrame()

# Loop through each data entry
for data_str in data_list:
    # Convert the string to a dictionary
    data_dict = ast.literal_eval(data_str)

    # Extract the 'top' data which is a list of dictionaries
    top_data = data_dict['top']

    # Convert the list of dictionaries to a DataFrame
    df = pd.DataFrame(top_data)

    # Pivot the DataFrame to make 'key' values column headers and 'value' as their corresponding row values
    df_pivoted = df.pivot_table(index=[], columns='key', values='value', aggfunc='first')

    # Reset the index to flatten the DataFrame
    df_pivoted = df_pivoted.reset_index(drop=True)

    # Append to the combined DataFrame
    combined_df = pd.concat([combined_df, df_pivoted], ignore_index=True)

# Display the combined DataFrame
df=pd.DataFrame(combined_df)
df

key,Engine Displacement,Fuel Type,Insurance Validity,Kms Driven,Ownership,RTO,Registration Year,Seats,Transmission,Year of Manufacture
0,998 cc,Petrol,Third Party insurance,"20,000 Kms",First Owner,TN02,2022,5 Seats,Automatic,2022
1,1500 cc,Diesel,Comprehensive insurance,"30,000 Kms",Second Owner,MH01,2021,7 Seats,Manual,2021

In [141]:
data_list = df_chennai["new_car_overview"]


combined_df = pd.DataFrame()

for data_str in data_list:    
    data_dict = ast.literal_eval(data_str)
    top_data = data_dict['top']
    df = pd.DataFrame(top_data)
    df_pivoted = df.pivot_table(index=[], columns='key', values='value', aggfunc='first')
    df_pivoted = df_pivoted.reset_index(drop=True)
    combined_df = pd.concat([combined_df, df_pivoted], ignore_index=True)


df=pd.DataFrame(combined_df)
df

key,Engine Displacement,Fuel Type,Insurance Validity,Kms Driven,Ownership,RTO,Registration Year,Seats,Transmission,Year of Manufacture
0,998 cc,Petrol,Third Party insurance,"20,000 Kms",First Owner,TN02,2022,5 Seats,Automatic,2022
1,1196 cc,Petrol,Comprehensive,"20,687 Kms",First Owner,TN04,Feb 2015,7 Seats,Manual,2015
2,999 cc,Petrol,Third Party insurance,"30,000 Kms",First Owner,TN22,2021,5 Seats,Manual,2021
3,1086 cc,Petrol,Comprehensive,"59,247 Kms",First Owner,TN11,May 2015,5 Seats,Manual,2015
4,1199 cc,Petrol,Third Party insurance,"50,000 Kms",First Owner,KA03,2015,5 Seats,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1414,1197 cc,Petrol,Third Party insurance,"42,891 Kms",First Owner,TN09,Jun 2018,5 Seats,Automatic,2018
1415,1461 cc,Diesel,Third Party insurance,"59,100 Kms",First Owner,TN11,Feb 2019,5 Seats,Manual,2018
1416,1198 cc,Petrol,Not Available,"55,913 Kms",First Owner,TN11,Aug 2018,5 Seats,Automatic,2018
1417,1968 cc,Diesel,Comprehensive,"65,000 Kms",First Owner,TN22,Aug 2017,5 Seats,Automatic,2017
1418,1995 cc,Diesel,Comprehensive,"60,000 Kms",First Owner,TN87,Oct 2019,5 Seats,Automatic,2019

Column 3

In [148]:
df_chennai["new_car_feature"][0]

"{'heading': 'Features', 'top': [{'value': 'Power Steering'}, {'value': 'Power Windows Front'}, {'value': 'Air Conditioner'}, {'value': 'Heater'}, {'value': 'Adjustable Head Lights'}, {'value': 'Fog Lights Front'}, {'value': 'Anti Lock Braking System'}, {'value': 'Brake Assist'}, {'value': 'Radio'}], 'data': [{'heading': 'Comfort & Convenience', 'subHeading': 'Comfort', 'list': [{'value': 'Power Steering'}, {'value': 'Power Windows Front'}, {'value': 'Power Windows Rear'}, {'value': 'Low Fuel Warning Light'}, {'value': 'Accessory Power Outlet'}, {'value': 'Trunk Light'}, {'value': 'Rear Reading Lamp'}, {'value': 'Rear Seat Headrest'}, {'value': 'Rear Seat Centre Arm Rest'}, {'value': 'Cup Holders Rear'}, {'value': 'Multifunction Steering Wheel'}, {'value': 'Cruise Control'}, {'value': 'Rear ACVents'}, {'value': 'Smart Access Card Entry'}, {'value': 'Engine Start Stop Button'}, {'value': 'Steering Wheel Gearshift Paddles'}, {'value': 'Battery Saver'}, {'value': 'Drive Modes'}, {'value': 'Remote Engine Start Stop'}, {'value': 'Adjustable Headrest'}]}, {'heading': 'Interior', 'subHeading': 'Interior', 'list': [{'value': 'Air Conditioner'}, {'value': 'Heater'}, {'value': 'Adjustable Steering'}, {'value': 'Digital Odometer'}, {'value': 'Electronic Multi Tripmeter'}, {'value': 'Leather Seats'}, {'value': 'Fabric Upholstery'}, {'value': 'Leather Steering Wheel'}, {'value': 'Glove Compartment'}, {'value': 'Digital Clock'}, {'value': 'Driving Experience Control Eco'}, {'value': 'Height Adjustable Driver Seat'}, {'value': 'Leather Wrap Gear Shift Selector'}]}, {'heading': 'Exterior', 'subHeading': 'Exterior', 'list': [{'value': 'Adjustable Head Lights'}, {'value': 'Fog Lights Front'}, {'value': 'Power Adjustable Exterior Rear View Mirror'}, {'value': 'Electric Folding Rear View Mirror'}, {'value': 'Rear Window Defogger'}, {'value': 'Alloy Wheels'}, {'value': 'Integrated Antenna'}, {'value': 'Tinted Glass'}, {'value': 'Rear Spoiler'}, {'value': 'Sun Roof'}, {'value': 'Moon Roof'}, {'value': 'Outside Rear View Mirror Turn Indicators'}, {'value': 'Chrome Grille'}, {'value': 'Roof Rail'}, {'value': 'LEDDRLs'}, {'value': 'LEDHeadlights'}, {'value': 'LEDTaillights'}]}, {'heading': 'Safety', 'subHeading': 'Safety', 'list': [{'value': 'Anti Lock Braking System'}, {'value': 'Brake Assist'}, {'value': 'Centeral Locking'}, {'value': 'Power Door Locks'}, {'value': 'Child Safety Locks'}, {'value': 'Driver Air Bag'}, {'value': 'Passenger Air Bag'}, {'value': 'Side Air Bag Front'}, {'value': 'Day Night Rear View Mirror'}, {'value': 'Passenger Side Rear View Mirror'}, {'value': 'Rear Seat Belts'}, {'value': 'Seat Belt Warning'}, {'value': 'Vehicle Stability Control System'}, {'value': 'Traction Control'}, {'value': 'Adjustable Seats'}, {'value': 'Keyless Entry'}, {'value': 'Engine Check Warning'}, {'value': 'Crash Sensor'}, {'value': 'Automatic Head Lamps'}, {'value': 'Ebd'}, {'value': 'Follow Me Home Headlamps'}, {'value': 'Rear Camera'}, {'value': 'Anti Pinch Power Windows'}, {'value': 'Speed Sensing Auto Door Lock'}, {'value': 'Isofix Child Seat Mounts'}, {'value': 'Pretensioners And Force Limiter Seatbelts'}, {'value': 'Hill Assist'}, {'value': 'Impact Sensing Auto Door Lock'}, {'value': 'No Of Airbags'}, {'value': 'Eletronic Stability Control'}]}, {'heading': 'Entertainment & Communication', 'subHeading': 'Entertainment', 'list': [{'value': 'Radio'}, {'value': 'Speakers Front'}, {'value': 'Speakers Rear'}, {'value': 'Integrated2Din Audio'}, {'value': 'Bluetooth'}, {'value': 'Touch Screen'}, {'value': 'Number Of Speaker'}, {'value': 'Apple Car Play'}, {'value': 'Android Auto'}]}], 'commonIcon': 'https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg'}"

In [157]:
import ast
import pandas as pd

# Sample data
data_Col3 = df_chennai["new_car_feature"]

# Function to convert string to dictionary and extract key-value pairs
def extract_specs(specs_str):
    try:
        specs_dict = ast.literal_eval(specs_str)
        top_data = specs_dict['top']
        top_dict = {item['value']: item['value'] for item in top_data}
        data_section = specs_dict['data']
        for section in data_section:
            for item in section['list']:
                top_dict[item['value']] = item['value']
        return top_dict
    except Exception as e:
        print(f"Error processing entry: {e}")
        return {}

# Apply the function to each entry in the Series
specs_data = data_Col3.apply(extract_specs)

# Create a DataFrame
df_chennai_col3 = pd.DataFrame(list(specs_data))

# Display the DataFrame
df_chennai_col3

,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,Dual Tone Body Colour,Active Noise Cancellation,Power Folding3rd Row Seat,Roof Carrier,Compass,Lane Watch Camera,Mirror Link,Removable Convertible Top,Headlamp Washers,Smart Key Band
0,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Heater,Adjustable Head Lights,NaN,Anti Lock Braking System,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,NaN,NaN,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,NaN,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1415,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1416,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,NaN,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1417,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1418,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,Anti Lock Braking System,Brake Assist,Radio,Power Windows Rear,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
import pandas as pd
import numpy as np

# Sample DataFrame with 173 columns (example)
# For demonstration, let's create a smaller DataFrame and assume it has more columns
data = {
    'A': [1, 2, 3, 4],
    'B': [np.nan, np.nan, np.nan, np.nan],  # All null values
    'C': [7, 8, 9, 10],
    'D': [np.nan, np.nan, np.nan, np.nan],  # All null values
    'E': [11, 12, 13, 14]
}
df = pd.DataFrame(data)

# Step 1: Identify columns where all values are null
null_columns = df.columns[df.isnull().all()]

print(f"Columns with all null values: {list(null_columns)}")

# # Step 2: Drop columns where all values are null
# df_cleaned = df.drop(columns=null_columns)

# print("DataFrame after dropping columns with all null values:")
# print(df_cleaned)

Columns with all null values: ['B', 'D']

bangalore_cars Details

In [165]:
df_bangalore = pd.read_excel('D:\\MLChecked\\VS Code\\Project_ML\\ML Data\\bangalore_cars.xlsx')

df_bangalore.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [166]:
import json

df_bangalore["new_car_detail"] = df_bangalore["new_car_detail"].apply(lambda i: json.loads(i.replace("'", '"').replace("None", "1")))
df_bangalore["new_car_detail"]

0       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1       {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
2       {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
3       {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
4       {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
                              ...
1476    {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1477    {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1478    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1479    {'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...
1480    {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
Name: new_car_detail, Length: 1481, dtype: object

In [167]:
df_bangalore_col1 = pd.DataFrame(df_bangalore["new_car_detail"].to_list())
df_bangalore_col1.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [168]:
df_bangalore_col1["km"]=df_bangalore_col1["km"].str.replace(",","")
df_bangalore_col1.rename(columns={'price': 'price(Lakh)'}, inplace=True)
df_bangalore_col1["price(Lakh)"]=df_bangalore_col1["price(Lakh)"].str.replace("Lakh","")
df_bangalore_col1["price(Lakh)"] = df_bangalore_col1["price(Lakh)"].str.replace("₹","")
df_bangalore_col1.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price(Lakh),priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,Hatchback,120000,Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,4,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,SUV,32706,Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,8.11,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,Hatchback,11949,Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,5.85,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Sedan,17794,Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,4.62,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Diesel,SUV,60000,Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,7.90,,,1,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [169]:
df_bangalore_col1.isnull().sum()

it                  0
ft                  0
bt                  0
km                  0
transmission        0
ownerNo             0
owner               0
oem                 0
model               0
modelYear           0
centralVariantId    0
variantName         0
price(Lakh)         0
priceActual         0
priceSaving         0
priceFixedText      0
trendingText        0
dtype: int64

Column 2

In [170]:
df_bangalore['new_car_overview']

0       {'heading': 'Car overview', 'top': [{'key': 'R...
1       {'heading': 'Car overview', 'top': [{'key': 'R...
2       {'heading': 'Car overview', 'top': [{'key': 'R...
3       {'heading': 'Car overview', 'top': [{'key': 'R...
4       {'heading': 'Car overview', 'top': [{'key': 'R...
                              ...
1476    {'heading': 'Car overview', 'top': [{'key': 'R...
1477    {'heading': 'Car overview', 'top': [{'key': 'R...
1478    {'heading': 'Car overview', 'top': [{'key': 'R...
1479    {'heading': 'Car overview', 'top': [{'key': 'R...
1480    {'heading': 'Car overview', 'top': [{'key': 'R...
Name: new_car_overview, Length: 1481, dtype: object

In [171]:
import pandas as pd
import ast

data_ban_col2 = df_bangalore["new_car_overview"]


combined_df = pd.DataFrame()

for data_str in data_ban_col2:    
    data_dict = ast.literal_eval(data_str)
    top_data = data_dict['top']
    df = pd.DataFrame(top_data)
    df_pivoted = df.pivot_table(index=[], columns='key', values='value', aggfunc='first')
    df_pivoted = df_pivoted.reset_index(drop=True)
    combined_df = pd.concat([combined_df, df_pivoted], ignore_index=True)


df_bangalore_col2=pd.DataFrame(combined_df)
df_bangalore_col2

key,Engine Displacement,Fuel Type,Insurance Validity,Kms Driven,Ownership,RTO,Registration Year,Seats,Transmission,Year of Manufacture
0,998 cc,Petrol,Third Party insurance,"1,20,000 Kms",Third Owner,KA51,2015,5 Seats,Manual,2015
1,1497 cc,Petrol,Comprehensive,"32,706 Kms",Second Owner,KA05,Feb 2018,5 Seats,Manual,2018
2,1199 cc,Petrol,Comprehensive,"11,949 Kms",First Owner,KA03,Sept 2018,5 Seats,Manual,2018
3,1197 cc,Petrol,Comprehensive,"17,794 Kms",First Owner,KA53,Dec 2014,5 Seats,Manual,2014
4,1248 cc,Diesel,Third Party insurance,"60,000 Kms",First Owner,KA04,2015,5 Seats,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1476,2982 cc,Diesel,Comprehensive,"1,56,039 Kms",Second Owner,KA01,May 2012,7 Seats,Manual,2012
1477,1586 cc,Petrol,Third Party insurance,"56,000 Kms",Second Owner,KA02,Jun 2008,5 Seats,Manual,2008
1478,1198 cc,Petrol,Comprehensive,"42,000 Kms",Second Owner,KA03,Sept 2014,5 Seats,Manual,2014
1479,1396 cc,Diesel,Comprehensive,"93,003 Kms",First Owner,KA03,Dec 2018,5 Seats,Manual,2018
1480,1197 cc,Petrol,Comprehensive,"36,000 Kms",Second Owner,KA04,May 2017,5 Seats,Automatic,2017

In [172]:
df_bangalore_col2.isnull().sum()

key
Engine Displacement      3
Fuel Type                0
Insurance Validity       3
Kms Driven               0
Ownership                0
RTO                    168
Registration Year        7
Seats                    1
Transmission             0
Year of Manufacture      7
dtype: int64

Column 3

In [173]:
import ast
import pandas as pd

# Sample data
data_ban_Col3 = df_bangalore["new_car_feature"]

# Function to convert string to dictionary and extract key-value pairs
def extract_specs(specs_str):
    try:
        specs_dict = ast.literal_eval(specs_str)
        top_data = specs_dict['top']
        top_dict = {item['value']: item['value'] for item in top_data}
        data_section = specs_dict['data']
        for section in data_section:
            for item in section['list']:
                top_dict[item['value']] = item['value']
        return top_dict
    except Exception as e:
        print(f"Error processing entry: {e}")
        return {}

# Apply the function to each entry in the Series
specs_data = data_ban_Col3.apply(extract_specs)

# Create a DataFrame
df_bangalore_col3 = pd.DataFrame(list(specs_data))

# Display the DataFrame
df_bangalore_col3

,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,Cassette Player,Find My Car Location,Wifi Connectivity,Headlamp Washers,Real Time Vehicle Tracking,Roof Carrier,Smart Key Band,Lane Watch Camera,Removable Convertible Top,Power Folding3rd Row Seat
0,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,Power Steering,Power Windows Front,Air Conditioner,Heater,NaN,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,NaN,Centeral Locking,Child Safety Locks,Power Windows Rear,Remote Trunk Opener,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN